<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="quaddiv">
      <div id="tname">"{{ student }}"-app01</div>
      <iframe width="100%" height="100%" src="http://{{ app01_ip }}/"></iframe>
    </div>
    <div id="quaddiv">
      <div id="tname">app-server02</div>
      <iframe width="100%" height="100%" src="http://{{ app02_ip }}/"></iframe>
    </div>
    <div id="quaddiv">
      <div id="tname">app-server03</div>
      <iframe width="100%" height="100%" src="http://{{ app03_ip }}/"></iframe>
    </div>
    <div id="quaddiv">
      <div id="tname">load balancer</div>
      <iframe width="100%" height="100%" src="http://{{ elb_ip }}/"></iframe>
    </div>
  </body>
</html>
